@charset "utf-8";

html { position: relative; min-height: 100%; margin: 0; }
body { min-height: 100%; padding-bottom: 100px; }

.circleimg { display: inline-block; overflow: hidden; border-radius: 50%; border: 1px solid #ecf0f1; }
.circleimg > img { width: 100%; height: 100%; object-fit: cover; }

.h24 { height: 24px; }
.pointer { cursor: pointer; }


.w24 { width: 24px; }